@use '../abstract' as a;

.landing-page {
  display: grid;
  justify-content: center;
  margin-top: 8rem;
  background: url('../images/bg-header-mobile.png') no-repeat;
  background-size: contain;

  @include a.breakpoint(medium) {
    background: url('../images/bg-header-desktop.png') no-repeat;
    background-size: contain;
  }

  &__content {
    display: grid;
    justify-items: center;
    gap: 6rem;
    margin-bottom: 10rem;
    width: 100%;
  }

  &__buttons {
    display: grid;
    gap: 1.5rem;

    @include a.breakpoint(medium) {
      display: flex;
    }
  }

  &__feature {
    display: grid;
    gap: 3rem;
    width: min(90%, 120rem);
    justify-items: center;
    text-align: center;

    @include a.breakpoint(medium) {
      gap: 4.5rem;
    }
  }

  &__feature-main-heading {
    max-width: 45rem;

    & > :first-child {
      margin-bottom: 1rem;
    }
  }

  &__feature-sub-heading {
    max-width: 22rem;

    & > :first-child {
      margin-bottom: 0.75rem;
    }
  }

  &__two-column {
    display: grid;
    gap: 3.5rem;
    justify-items: center;


    @include a.breakpoint(medium) {
      position: relative;
      left: 25%;
      padding: 8rem 0;
    }
  }

  &__two-column-image {
    @include a.breakpoint(medium) {
      position: absolute;
      max-width: unset;
      width: 47rem;
      right: calc(100% + 8rem);
      top: 55%;
      transform: translate(0 , -50%);
    }
  }

  &__sub-feature-column {
    display: grid;
    gap: 3rem;
    text-align: left;

    @include a.breakpoint(medium) {
      align-content: center;
    }
  }

  &__features-flex {
    display: grid;
    justify-items: center;
    gap: 3.5rem;
    width: min(90%, 100rem);

    @include a.breakpoint(medium) {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1.5rem;
    }

    & > * {
      display: grid;
      justify-items: center;
      gap: 2.5rem;

      & > *:last-child {
        display: grid;
        gap: 1rem;
      }
    }
  }

  &__logos {
    display: grid;
    justify-items: center;
    gap: 3.5rem;

    @include a.breakpoint(medium) {
      margin: 6rem 0;
      grid-template: 1fr / repeat(5,1fr);
    }

    & > * {
      width: 10rem;
    }
  }

  &__cta {
    display: grid;
    justify-items: center;
    gap: 3rem;
    width: min(90%, 45rem);
    text-align: center;
  }

  &__cta-text {
    display: grid;
    gap: 1rem;
  }
}