// Colors
$colors: (
  // Main Colors
        primary-color: (
                'cyan-600': hsl(171, 66%, 37%),
                'cyan-500': hsl(171, 66%, 44%),
                'cyan-400': hsl(171, 52%, 58%),
                'blue-600': hsl(233, 63%, 58%),
                'blue-500': hsl(233, 100%, 69%),
                'blue-400': hsl(233, 100%, 77%),
        ),
        neutral-color: (
                'dark-grayish-blue': hsl(210, 10%, 33%),
                'grayish-blue': hsl(201, 11%, 66%),
                'light-grayish-blue': hsl(210, 11%, 96%),
        ),
  // Other
        'background': hsl(0, 0%, 100%),
        'white': hsl(0, 0%, 100%),
        'black': hsl(0, 0%, 0%),
);